<!DOCTYPE html>
<html>
<h1>Welcome <%=@user.username%>!</h1>
<br>
<p>YOUR BOOKS:</p>
<% @books.each_with_index do |book, index| %>
    <h5><%= index + 1 %>.</h5>
    <h4>Title: <%= book.title %></h4>
    <h5> By: <%= book.author %></h5>
   <h5>Genre: <%= book.genre %></h5>
   
 <p><a href="/books/<%= book.id %>/edit">Edit</a></p>
   <p> <a href="/new_book">Add a Book</a></p>
    <% end %>
   
<br>


<a href="/logout">Log Out</a>
</html>